---
layout: custom_base
---
            <article class="page" role="article">
               <header>
                  <h1 class="page-title">Education</h1>
                  <div class="hr pb0"></div>
               </header>
               <div class="education-block">
                  <h3>Rutgers University</h3>
                  <span class="education-date">Jan 2021 - Jan 2022</span>
                  <h4>Master of Science in Computer Science</h4>
               </div>
               <div class="education-block">
                  <h3>Mahatma Gandhi University</h3>
                  <span class="education-date">July 2013 - May 2017</span>
                  <h4>Bachelor's Degree, Computer Science and Engineering</h4>
               </div>
               <div class="education-block">
                  <h3>Amrita Vidyalayam</h3>
                  <span class="education-date">June 2011 - Mar 2013</span>
                  <h4>Higher Secondary, Mathematics and Computer Science</h4>
               </div>
               <br><br>
               <h1 class="page-title">Skills</h1>
               <div class="hr pb0"></div>
                  <div class="skill-body">
                     {% assign rows = site.data.skills.size | divided_by: 2.0 | ceil %}
                     {% for i in (1..rows) %}
                     {% assign offset = forloop.index0 | times: 2 %}
                     <div class="row">
                        {% for skill in site.data.skills limit:2 offset:offset %}
                        <div class="col-md-6">
                           <div class="progress-container progress-primary">
                              <span class="progress-badge">{{ skill.name }}</span>
                              <div class="progress">
                                 <div class="progress-bar progress-bar-primary" role="progressbar" aria-label="{{ skill.name }} skill level" aria-valuenow="{{ skill.level | remove: '%' }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ skill.level }}"></div>
                                 <span class="progress-value">{{ skill.level }}</span>
                              </div>
                           </div>
                        </div>
                        {% endfor %}
                     </div>
                     {% endfor %}
                  </div>
            </article>
