---
layout: custom_base
---
            <article class="page" role="article">
               <header>
                  <h1 class="page-title">Experience</h1>
                  <div class="hr pb0"></div>
               </header>
               {% for job in site.data.experience %}
               <div class="experience-block">
                  <h3><a href="{{job.url}}" target="_blank" rel="noopener noreferrer">{{job.company}}</a></h3>
                  <span class="education-date">{{job.time}}</span>
                  <h4>{{job.position}}</h4>
               </div>
               {% endfor %}
            </article>
